In [ ]:
#string data types variables rules
#var=
#a-z,A-Z,0-9,_

# age=12
# Age=56
# AGE=34

st="UPFLAIRS"
print(st)
print(type(st))

UPFLAIRS
<class 'str'>

In [ ]:
#to find the value  in the string by taking as an number
st="UPFLAIRS"
print(st[4])

A

In [ ]:
#string start and ending point                    // forward and negative string system
st="UPFLAIRS"
print(st[4:7])

st2="upflairs pyt ltd jaipur rajasthan"
print (st2[17:23])

AIR
jaipur

In [ ]:
# find the value by the help of positive and negative indexing
st="upflairs"
print(st[-1])
print(st[7])


st="upflairs pvt ltd jaipur rajasthan"
print(st[-16:-10])                                   #neagtive indexing (-infinity to -1)
print(st[:8])
print(st[:])

s
s
jaipur
upflairs
upflairs pvt ltd jaipur rajasthan

In [ ]:
# jumping statement means to jump the values by 2-many more                          [start : ending : jumping]
st="upflairs pvt ltd jaipur rajasthan"
print(st[::1])
print(st[::])
print(st[::2])                                    #values jump by 2 ex:-upflair ufar
print(st[::3])

upflairs pvt ltd jaipur rajasthan
upflairs pvt ltd jaipur rajasthan
ufar v t aprrjshn
ulrp daurah

In [ ]:
# revese string                           to reverse the order of vlues
st="upflairs pvt ltd jaipur rajasthan"
print(st[::-1])

nahtsajar rupiaj dtl tvp srialfpu

In [ ]:
#no. of character count lenghth

st="upflairs pvt ltd jaipur rajasthan"
print(len(st))

33

In [ ]:
# upper and lower case as an charcter count the no.also
st="upflairs pvt ltd jaipur rajasthan "
st2="UPFLAIRS PVT LTD JAIPUR RAJASTHAN"
print (st. upper())
print (st. lower())
print(st.count('r'))
print(st.index('t'))
print(st.replace("upflairs","flipkart"))

UPFLAIRS PVT LTD JAIPUR RAJASTHAN
upflairs pvt ltd jaipur rajasthan
3
11
flipkart pvt ltd jaipur rajasthan

In [ ]:
# list in python  <<<<<<<<<<<<,list>>>>>>>>>>>

ls=[10,20.8,"UPFLAIRS",True,500]
print(ls)
print(type(ls))

[10, 20.8, 'UPFLAIRS', True, 500]
<class 'list'>

In [ ]:
student_name=['MUSKAN','NAVYA','LAKSHIKA','YASH']
print(student_name[0])
print(student_name[1])
print(student_name[-1])

MUSKAN
NAVYA
YASH

In [ ]:
# list to find the no.betwwen first and last string point
ls=['A','B','C','D','E','F','G']
print(ls[0:4])
print(ls[5:])
print(ls[-2:])
print(ls[7:])

['A', 'B', 'C', 'D']
['F', 'G']
['F', 'G']
[]

In [ ]:
#for replacing list

ls=['A','B','C','D','E','F','G']
ls[3]='YASH'
print(ls)

['A', 'B', 'C', 'YASH', 'E', 'F', 'G']

In [ ]:
#STORE IN YOUR LIST   at the end store or insrt the elements

ls=['a','b','c','d']
ls.append("i")                       #end insrt
print(ls)
ls.pop()                                #at the last element will be deleted
print(ls)
ls.insert(2,'upflairs')               #insert we can from anywhere
print(ls)
ls.remove('d')
print(ls)                                 #here we can delete any of the element

['a', 'b', 'c', 'd', 'i']
['a', 'b', 'c', 'd']
['a', 'b', 'upflairs', 'c', 'd']
['a', 'b', 'upflairs', 'c']

In [ ]:
# TO REMOVE SOME ELEMENTS IN THE LIST

ls=['a sharma','b kumar','c khanna']
ls.remove('b kumar')
print (ls)

ls=['a sharma','b kumar','c khanna']
del ls[2]
print(ls)

['a sharma', 'c khanna']
['a sharma', 'b kumar']

In [ ]:
 #dono list ko iktha likhta h by aappend condition

ls1=['a','b','c','d','e','f','g']
ls2=['i','j','k']
ls1.append(ls2)
print(ls1)

ls1=['a','b','c','d','e','f','g']
ls2=['i','j','k']
ls1.extend(ls2)
print (ls1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', ['i', 'j', 'k']]
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'i', 'j', 'k']

In [ ]:
# reverse a list
ls1=['a','b','d']
ls1.reverse()
print(ls1)

['d', 'b', 'a']

In [ ]:
#copy a list
# ls1=['r','y','w']
# ls2=ls1
# ls2[1]='upflairs'
# print(ls1)
# print(ls2)


ls1=[24,56,67,69,90]
# ls2=[24,56,67]
ls2=ls1
ls2[4]="upflairs"
print(ls1)
print(ls2)

[24, 56, 67, 69, 'upflairs']
[24, 56, 67, 69, 'upflairs']

In [ ]:
#sort a list
ls2=['r','y','w']
ls2.sort()
print(ls2)

['r', 'w', 'y']

In [ ]:
# TO CLEAR A LIST
ls2=['r','y','w']
ls2.clear()
print(ls2)

[]

In [ ]:
#   revision time

# st="UPFLAIRS"
# print(st)
# print (type(st))

st="upflairs pvt ltd jaipur rajasthan "
st1="UPFLAIRS PVT LTD "
print(st[4])
print(st[0:19])
print(st[::4])
print(st.upper())
print(st1.lower())
print(st.count('t'))
print(st.index('i'))
print(st.replace('upflairs','yash'))
print(len(st))
print(st[::-1])

a
upflairs pvt ltd ja
ua   prsn
UPFLAIRS PVT LTD JAIPUR RAJASTHAN
upflairs pvt ltd
3
5
yash pvt ltd jaipur rajasthan
34
 nahtsajar rupiaj dtl tvp srialfpu

In [ ]:
# ls=[10,True,123.768,'yash']
# print(ls)
# print(type(ls))
# print(ls[3])
# print(ls[::2])
# print(ls[0:3])
# ls[3]='muskan'
# print(ls)

ls=['a','y','g','r','t']
ls1=['b','h','yash']
# ls.append('e')
# print(ls)
# ls.pop()
# print(ls)
# ls.insert(2,'yash')
# print(ls)
# del ls[2]
# print(ls)
# ls.sort()
# print(ls)
# ls.reverse()
# print(ls)
# ls.clear()
# print(ls)
ls.extend(ls1)
print(ls)

['a', 'y', 'g', 'r', 't', 'b', 'h', 'yash']