In [ ]:
##TUPPLE  it is saame as the list but having some differente .   securly use data
#perenthesisi is used().  diif data we can store.  varient of list can store data in multiple ways but we cant be change due to it cant
 #be change   in the datA where is mutable
#IMUTABLE chaNGES NOT DONE

#TUPPLE  ACCESSING ALLOWED

#DELETION AND INSERTION  NOT CHANGED

In [3]:
tpl=(10,38,"upflairs",True,10.67)
# print(tpl)
# print(type(tpl))
# print(tpl[3])
# print(tpl[1:3])                #accessing is allowed

# tpl[2]="don"
# print(tpl)                    #changes are not
tpl.count(1)
# print(tpl)


# tpl.index()
# print(tpl)

1

In [ ]:
#set   curly bracket{}

# multiple item and type store
# duplicates are not allowed
# unordered like no particular position ,no indexing
# immmutable changes are not allowed
# set acesssing are not allowed
#insertion and deletion is allowed


st={10,20,30,85,15,True,"upflairs"}
print(st)
print(type(st))

{True, 20, 85, 10, 'upflairs', 30, 15}
<class 'set'>

In [ ]:
st={10,20,30,85,55 ,41,56,999,786,555}           #  insertion is allowed
st.add(1000)
print(st)

{999, 1000, 41, 10, 555, 786, 20, 85, 55, 56, 30}

In [ ]:
st={10,20,30,85,55 ,41,56,999,786,555}
# st.remove(65)                 #key errore is there if value is not present in the statement
st.remove(555)
print(st)

st={10,20,30,85,55 ,41,56,999,786,555}
# st.discard(45)                                            #if there is no value is present then it canot give erroe
st.discard(55)
print(st)

{999, 41, 10, 786, 20, 85, 55, 56, 30}
{999, 41, 10, 555, 786, 20, 85, 56, 30}

In [ ]:
# st1={10,20,30,85,55 ,41,56,999,786,555}
# st2={11,88,10,20,40,1000,2980}
# st1.update(st2)                              #here no duplicates are allowed in the output
# print(st1)

st1={10,20,30,85,55 }
st2={11,88,10,20,40,}
st1.intersection(st2)
print(st1)

{20, 85, 55, 10, 30}

In [ ]:
#dictionary  (key:value)  pairs updated set
#  {0  (key)       :   10  (value)}

#  unorded without any index value value be written anywhere
#  key in dictionay is unique
#  we can add and modify should be unique



dt={"A":10,"B":20,"C":30,"D":40,"E":50}
#print(dt["C"])
# print(dt.keys())
# print(dt.values())
dt.pop("C")
print(dt)                   #delete the value of key item
# dt["D"]=300
# print(dt)                 #repace the item
# dt["f"]=344
# print(dt)         #  new key will be added which ius not present in statement

{'A': 10, 'B': 20, 'D': 40, 'E': 50}

In [ ]:
dt1={"A":10,"B":20,"C":30,"D":40,"E":50}
dt2={"E":90,"G":89,"H":67}
dt1.update(dt2)
print(dt1)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 90, 'G': 89, 'H': 67}

In [ ]:
students1={"name":["maohit","rohit","kaloo","pappu","baabu"], "marks":[41,54,65,89,13], "subject":"physics"}
students2={"subject":"chemistry"}
students1.update(students2)
print(students1)

{'name': ['maohit', 'rohit', 'kaloo', 'pappu', 'baabu'], 'marks': [41, 54, 65, 89, 13], 'subject': 'chemistry'}